<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mr-2">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class='nav-link no-caret' style="cursor:pointer" (click)="login()">
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class='nav-link no-caret' style="cursor:pointer" (click)="logout()">
            <span class="nav-link-inner--text">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>