<div class="container-fluid landing mt-5">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="display-4">Angular OIDC Application</h1>
          <h4 class="display-5">Angular OIDC Application is a single page application that uses OpendId Connect (OIDC)
            to provide secure access to your users</h4>
          <BR>
          <h4 class="display-5">You can use Angular OIDC Application to :</h4>
          <ul>
            <li>
              <h4 class="display-5">Provide secure access to your users using Auth0 or any other OIDC-compliant identity
                provider
              </h4>
            </li>
            <li>
              <h4 class="display-5">Additional Features....</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="width:100%;">
        <img class="card-img" src="assets/images/financeapp-transparent.png" alt="Card image">
      </div>
    </div>
  </div>
</div>